<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<h1>Сделай себе нормальный тако</h1>
<h2>Хочешь покушать, <span th:text="${user.fullname}">NAME</span>?</h2>
<img th:src="@{/images/TacoCloud.png}"/>

<form method="POST" th:action="@{/logout}" id="logoutForm">
    <input type="submit" value="Logout"/>
</form>

<form method="POST" th:object="${taco}" th:action="@{/design}" id="tacoForm">

     <span class="validationError"
           th:if="${#fields.hasErrors('ingredients')}"
           th:errors="*{ingredients}">Ingredient Error</span>

    <div class="grid">
        <div class="ingredient-group" id="wraps">
            <h3>Заверни все в лаваш:</h3>
            <div th:each="ingredient : ${wrap}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">INGREDIENT</span>
                <br/>
            </div>
        </div>

        <div class="ingredient-group" id="proteins">
            <h3>Положи мяса:</h3>
            <div th:each="ingredient : ${protein}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">INGREDIENT</span>
                <br/>
            </div>
        </div>

        <div class="ingredient-group" id="cheeses">
            <h3>Выбери иностранного сырка:</h3>
            <div th:each="ingredient : ${cheese}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">INGREDIENT</span>
                <br/>
            </div>
        </div>

        <div class="ingredient-group" id="veggies">
            <h3>Закинь овощей:</h3>
            <div th:each="ingredient : ${veggies}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">INGREDIENT</span>
                <br/>
            </div>
        </div>

        <div class="ingredient-group" id="sauces">
            <h3>Залей все соусом:</h3>
            <div th:each="ingredient : ${sauce}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">INGREDIENT</span>
                <br/>
            </div>
        </div>

    </div>

    <div>

        <h3>Назови свой тако: </h3>
        <input type="text" id="name" th:field="*{name}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Имя напиши</span>
        <br/>

        <button>Послать тако</button>
    </div>
</form>
</body>
</html>